<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>cadastro</title>
        <link rel="stylesheet" href="../../../css/main-static.css" th:href="@{/css/main.css}" />
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>Cadastro</h1>
        
        
        
        <fieldset>
        
        <h2>cadastrar</h2>
        <!-- 
            Set the action attribute to "/exercise12/saveCustomer.html", and use
            th:object to bind the ${customer} variable as the form-backing bean. 
        -->
        
        <form id="formfuncionario" method="post" action="saveFuncionario" >
            <!-- Use th:field to set field 'id' here -->
           
            
            <div>
            <!-- Use th:field to show *{firstName} -->
            <label for="firstName">Nome   :</label>
            <input type="text" />
            </div>
            
            <br>
            
            <div>
            <!-- Use th:field to show *{lastName} -->
            <label for="lastName">Sobrenome:</label>
            <input type="text" />
            </div>
            
            <br>
            
            <div>
            <label for="lastName">Endereço:</label>
            <input type="text" />
            </div>
            
            <br>
            
            <div>
            <label for="cep">Cep    :</label>
            <input type="text" />
            </div>
            
            <br>
            
            <div>
            <label for="cep">CPF    :</label>
            <input type="text" />
            </div>
            
            <br>
            
            <div>
            <label for="cep">Setor  :</label>
            <input type="text" />
            </div>
            
            <br>
            
            <div>
            <input type="submit" value="cadastrar"/>
            </div>
           </form>
           
           
           <br>
           <br>
           
        </fieldset>
   <!------------------------------------------------------------------------------------------------------------------>     
        
        
        
    </body>
</html>